@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <button id="hidebutton">Hide Content</button>
    <button id="showbutton"; style="display: none">Show Content</button>
</div>
